<table class="table" id="notes_table" data-controller="notes-table">
  <thead>
  <tr>
    <th style="width: 3%">#</th>
    <th><%= t('titles.table.message') %></th>
    <th style="width: 10%"><%= t('titles.table.author') %></th>
    <th style="width: 10%"><%= t('titles.table.date') %></th>
    <th style="width: 5%"></th>
  </tr>
  </thead>
  <tbody>
  <% (@notes || notes).each_with_index do |note, index| %>
    <tr>
      <td><%= row_number(index, (@notes || notes)) %></td>
      <td><%= note.message %></td>
      <td title="<%= note.user.full_name %>"><%= note.user.email %></td>
      <td title="<%= note.created_at.strftime('%H:%M') %>"><%= note.created_at.strftime('%d.%m.%Y') %></td>
      <!-- Для отображения актуальной иконки в таблице заметок относительно каждого пользователя          -->
      <!-- используется два контроллера Stimulus: app/javascript/controllers/current_user_controller.js и -->
      <!-- app/javascript/controllers/notes_table_controller.js                                           -->
      <td><%= trash_icon(note) %><%= no_trash_icon(note) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
