<div class="container" data-controller="current-user" data-current-user-id-value="<%= current_user&.id %>">
  <div class="row">
    <div class="col-md-4 order-md-2 d-flex align-items-center justify-content-center">
      <%= turbo_stream_from 'counter' %>
      <%= render 'counter' %>
    </div>

    <div class="col-md-8 order-md-1 mt-5">
      <%= turbo_stream_from 'notes_table' %>
      <%= render 'notes_table' %>
      <%= paginate (@notes || notes),
                   theme: 'bootstrap-5',
                   pagination_class: 'pagination-sm flex-wrap justify-content-center',
                   nav_class: 'd-inline-block' %>
    </div>
  </div>

  <br>

  <% if user_signed_in? %>
    <h3 class="mt-2"><%= t('titles.create_note') %></h3>

    <div id="new_note">
      <%= render 'form', note: new_note %>
    </div>
  <% end %>
</div>
