<div class="container">
  <div id="counter">
    <%= render 'counter' %>
  </div>

  <%= turbo_stream_from 'notes_table' %>
  <%= turbo_frame_tag 'notes_table' do %>
    <%= render 'notes_table' %>
  <% end %>

  <br>

  <% if user_signed_in? %>
    <h2 class="mt-2"><%= t('titles.create_note') %></h2>

    <%= turbo_stream_from 'new_note' %>
    <%= turbo_frame_tag 'new_note' do %>
      <%= render 'form', note: new_note %>
    <% end %>
  <% end %>
</div>
