<header class="d-flex flex-wrap justify-content-center justify-content-md-end py-3 mb-4 border-bottom bg-dark opacity-75">
  <div class="container">
    <div class="row">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none col-md-3 w-25">
        <span class="fs-4 text-white">NOTES</span>
      </a>

      <ul class="nav nav-pills w-75 col-md-9 d-flex justify-content-end">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <li class="nav-item text-white p-1 h4"><%= current_user.email %></li>
          <li class="nav-item active p-1"><%= sign_out_button %></li>
        <% else %>
          <li class="nav-item active p-1"><%= sign_up_button %></li>
          <li class="nav-item active p-1"><%= sign_in_button %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
